/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules/

/vendor/lib/
/vendor/include/
/vendor/share/
/vendor/installed_*
/vendor/tmp/blis*
/vendor/tmp/lapack*

# rspec failure tracking
.rspec_status

*.lock
*.bundle
.ruby-version

*.swp
.DS_Store
